.col-md-6 {
    /*border-width: 0.75rem;
    border-style: solid;
    background-color: transparent;
    border-color: transparent;*/
    background-color: rgba(255, 255, 255, 0.9);
     border-radius: 2rem;
     border-width: 0.1rem;
     border-color: #333333;
     border-style: solid;
}

#gauge-chart {
    height: 270px !important;
    max-height: 270px !important;
}

.tile {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: #333333;
    border-style: solid;
    /* background-color: rgb(223, 223, 223); */
}

.col-md-3 {
    border-width: 0.75rem;
    border-style: solid;
    background-color: transparent;
    border-color: transparent;
}

.icon {
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.title {
    font-family: 'Helvetica';
    color: #333333;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 3rem;
    text-align: left;
    margin-right: 1rem;
    margin-bottom: -1rem;
}

.value {
    font-family: 'Helvetica';
    font-size: 5rem;
    text-align: right;
    margin-top: -8rem;
    margin-right: 1rem;
    margin-bottom: -1rem;
}

.unit {
    font-family: 'Helvetica';
    font-size: 3rem;
    text-align: right;
    margin-right: 1rem;
    margin-bottom: -1rem;
}

.status{
  font-family: 'Helvetica';
  margin-top: 2rem;
  text-align: right;
  color: red;
  font-size: 2rem;
  margin-right: 1rem;
}

.container-fluid{
  background: transparent;
}

#nonFluid{
  margin: auto;
  width: 1200px;
}

#logo{
  margin-top: 2px;
  margin-right: 2rem;
  float: left;
  margin-left: 2rem;
  width: 40px;
  height: 40px;
}

.machineData{
  margin: auto;
  /* padding-bottom: 20rem; */
  width: 60%;
  /* margin-left: 25%; */
  /* margin-right: 25%; */
  /* margin-bottom: 11rem; */
}

.machineValue{
  visibility: hidden;
  /* max-height: 260px; */
  /* position: relative; */
  width: 39%;
  float: left;
}

#rightValue{
  float: right;
}

.speedTitle{
  font-family: 'Helvetica';
  color: #333333;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.machineTitle{
  font-family: 'Helvetica';
  color: #333333;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.heatTitle{
  font-family: 'Helvetica';
  color: #333333;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.machineIconBox{
  visibility: hidden;
  width: 16%;
  margin-left: 3%;
  margin-right: 3%;
  height: 234.5px;
  position: relative;
  float: left;
}

.erpContainer{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #333333;
  border-style: solid;
  position: relative;
  width: 15%;
  /* height: 90%; */
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.5%;
  /* margin-bottom: 5%; */
  float: left;
}

.erptitle{
  font-family: 'Helvetica';
  color: #333333;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2vw;
  text-align: left;
  margin-right: 1rem;
  margin-bottom: -1rem;
  text-align: center;
}

.erpcontent{
  background-color: rgba(211, 211, 211, 0.9);
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #333333;
  border-style: solid;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom:1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.erpcontenttitle{
  font-family: 'Helvetica';
  color: #333333;
  font-size: 1.4vw;
  text-align: center;
}

.erpdata{
  font-family: 'Helvetica';
  color: #333333;
  font-size: 1vw;
  text-align: center;
}

.machineBox{
  margin-top: 30rem;
}

.chartTile{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
  float: left;
  width: 40%;
  height: 37rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #333333;
  border-style: solid;
}

.chartTitle{
  font-family: 'Helvetica';
  color: #333333;
  font-size: 2rem;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*#gauge-chart{
   background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: #333333;
    border-style: solid;
}

#test-chart{
   background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: #333333;
    border-style: solid;
}

#bar-chart{
background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2rem;
  border-width: 0.1rem;
  border-color: #333333;
  border-style: solid;
}

#pie-chart{
  background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: #333333;
    border-style: solid;
}*/
