
#machineBox{
  top: 12rem;
  border: 2px solid transparent;
  width: 1100px;
  height: 500px;
  background-color: rgba(0,0,0,0.6) ;
  margin: auto;
  position: relative;
  border-radius: 5rem;
}

.area{
  border-radius: 1rem;
  border: 2px dotted #333;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 200px;
  height: 300px;
  background-color: rgba(255,255,255,0.8);
}

.BAD{
  background-color: rgba(255,0,0,0.4);
}

.GOOD{
  background-color: rgba(0, 255, 7, 0.4);
}

#conveyor{
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: #333;
  width: 1000px;
  height: 35px;
  margin-left: 50px;
  border-style: dashed;
  border-color: white;
  border-width: 0.3rem;
  background-color: rgba(0, 0, 0, 0.8);
}

#pillarBox{
  width: 1000px;
  height: 70px;
  margin-left: 50px;
}

#areasBox{
  margin: auto;
  margin-top: 3rem;
  width: 1000px;
  height: 300px;
  border-radius: 1rem;
}

.areaNumber{
  font-family: "Helvetica";
  font-size: 2.5rem;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 3.5rem;
  background-color: #333;
}

.pillar{
  background-color: #333;
  width: 13px;
  height: 100px;
  float: left;
  margin-left: 166px;
  border-bottom: 5px solid black;
  background-color: rgba(0,0,0,0.8);
  background-color: rgba(7, 118, 141, 0.7);
  background-color: rgba(17, 120, 149, 0.9);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.pillarLeft{
  margin-left: 40px;
}

.pillarRight{
  margin-right: 40px;
}

.iconContainer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iconArea{
  margin-left: 1rem;
  width: 80%;
}

.block{
  width: 20px;
  height: 20px;
  background-color: #333333;
  float: left;
  border-radius: 5px;
  border-color: black;
  border-style: double;
  border-width: 10px;
}

.line{
  width: 120px;
  height: 6px;
  margin-top: 7px;
  float: left;
  background-color: #f93030;
}

.lightBarrier{
  margin-left: 20px;
  margin-top: 20rem;
}

.product{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  margin-top: 7rem;
  visibility: hidden;
}
