script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
link(rel='stylesheet' type='text/css' href='https://cdn.rawgit.com/google/code-prettify/master/styles/sons-of-obsidian.css')
style.
    h1{
        font-family:"Arial", Helvetica, sans-serif;
    }

h1(style='text-align:center') Beispielstruktur unserer Dokumente:
pre.prettyprint
    p var object = #{params.exampleObject}
